@page
@model Dashboard.Ui.FirstModel
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>
<button id="login">Login</button>

@section Scripts {
    <script src="~/js/first.js" asp-append-version="true"></script>
}